body{

    color:#fff;
}

div.odliczanie{
    position: relative;
    width:50%;
    height:40vh;
    text-align: center;
    margin-top:25%;
    margin-left:25%;
    font-size:10em;
    font-weight: 100;
    border: 0 solid #000;
    background-color: #000;
    animation-iteration-count: infinite;
}
div.odliczanie-liczba{
    position: absolute;
    left:0;
    right:0;
}

.odliczanie-liczba{ 
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#dziewiec{
    animation-delay: 1s;
}
#osiem{
    animation-delay: 2s;
}
#siedem{
    animation-delay: 3s;
}
#szesc{
    animation-delay: 4s;
}
#piec{
    ;
    animation-delay: 5s;
}
#cztery{
    animation-delay: 6s;
}
#trzy{
    animation-delay: 7s;
}
#dwa{
    animation-delay: 8s;
}
#jeden{
    animation-delay: 9s;
}
#tekst{
    animation-delay: 10s;
    font-size:90px;
   background-image: url(../img/nowy_2018.gif);
    background-repeat: no-repeat;
}

@keyframes fadeIn {
    0%{
        visibility: hidden;
    }
    99%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }

}

@keyframes fadeInOut {
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}