@media(max-width:1170px) {
    #main_header {
        height: 70vh;
        padding: 0px;
    }
    #naglowek{
       text-align: right; 
      position: sticky;
    }
  
    #main_header .bg_container {
        background-image: url(../img/man-2.jpg);
}

@media(max-width:992px) {
    #main_header {
        height: 50vh;
        padding: 0px;
    }
    #naglowek {
        color: #000;
        text-align: center;
        position:static;
    }
    #main_header .bg_container {
        background-image: url(../img/man-1.jpg);    
    }
