
@media(max-width:1170px){
    #main_header{
        height: 70vh;
        padding: 0px;
    }
    .header h3, h1{
        text-align: right;
    }
    #main_header .bg_container{
        background-image: url(../img/man-2.jpg);
      margin-left: 200px;
        margin-right: 200px;
    }
}

@media(max-width:992px){
    #main_header{
        height: 50vh;
        padding: 0px;
    }
    .header h3, h1{
        color: #000; 
        text-align: center;
    }
    #main_header .bg_container{
        background-image: url(../img/man-1.jpg);
        margin-left: 100px;
        margin-right: 100ox;   
    }
}
