@media(max-width:1170px) {
    #main-header1{
        width: 100%;
    }
}
@media (max-width:1170px)(min-width:992px){
    #main-header2{
        width: 100%;
    }
}
@media (min-width:992px){
    figura{
        width: 100%;
    }
}