* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

#main_header {
    font-family: 'Verdana', sans-serif;
}

#naglowek{
    padding: 50px;
    color: #fff;
    position: absolute;
}
#main_header .bg_container {
    height:100vh;
    background-image: url(../img/man-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}