* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

#main_header {
    font-family: 'Verdana', sans-serif;
    color: #fff;
    border: 1px solid #fff;
}

.bg_container h3{
    padding: 80px 25px;
    }
.bg_container h1{
    padding: 80px 25px;
}
#main_header .bg_container {
    height:1170px;
    background-image: url(../img/man-1.jpg);
    background-repeat: no-repeat;
    
}