.square1{
    width: 200px;
    height: 200px;
    background-color: red;
}
#circle1{
    border-radius: 100%;
    background-color: lightpink;
    position: absolute;
    top: 0px;
    left: 0px;
}
.square2{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 200px;
}
.square3{
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    top: 0px;
    left: 400px;
}
.square4{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    bottom: 150px;
    left: 0px;
}
.square5{
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
    bottom: 150px;
    left: 200px;
    
}
.square6{
    width: 200px;
    height: 200px;
    background-color: orange;
    position: absolute;
    bottom: 150px;
    left: 400px;
}
.square7{
    width: 200px;
    height: 200px;
    background-color: darkviolet;
    position: absolute;
    top: 400px;
    left: 0px;
}
.square8{
    width: 200px;
    height: 200px;
    background-color: gray;
    position: absolute;
    top: 400px;
    left: 200px;
}
.square9{
    width: 200px;
    height: 200px;
    background-color: lightpink;
    position: absolute;
    top: 400px;
    left: 400px;
}
